body {
	font-family: sans-serif;
}

.wrap {
	margin: auto;
	width: 600px;
	height: 400px;
	position: relative;
	left: 80px;

}

#logo {
	width: 80px;
}

a {
	text-indent: right;
}

.comments-info {
	background: #e6e6e6;
}